@import url('login.css');
@import url('input.css');
@import url('dashboard.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "GeistSans", "GeistSans Fallback", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

:root {
    --background: hsl(220, 9%, 7%);
    --selection: rgba(129, 173, 250, 0.25);
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

::selection {
    background-color: var(--selection);
}